@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Titillium+Web:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
body{
    background-color: #232323;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background: #232323;
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: #FFE816;
    width: 6px;
    border-radius: 6px;
}
.navbar{
    background-color: #232323;
}
.navbar-toggler {
    width: 30px;
    height: 3px;
    position: relative;
    transition: .5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}
.navbar-toggler span {
    margin: 0;
    padding: 0;
}
.toggler-icon {
    display: none;
}
.nav-item {
    margin: 14px 5rem;
    font-size: 23px;
}
.nav-item a {
    font-weight: 600;
    transition: 0.2s;
    color: #FFE816;
}
.nav-item a:hover{
    background-color: #FFE816;
    padding: 5px 20px;
    border-radius: 8px;
}
.navbar-brand{
    width: 50px;
}
.title{
    color: #FFE816;
    margin-top: 7rem;
    text-transform: uppercase;
    font-weight: 700;
}
.container-release{
    margin: 10px 3rem;
}
.nav-pills .nav-link.active{
    background-color: #FFE816;
    color: #232323;
    font-weight: 700;
}
.nav-link{
    color: #969696;
    margin: 10px 10px 0px;
}
.nav-link:hover{
    color: #FFE816;
}
.card{
    background-color: #131313;
    width: 280px;
    height: 100%;
}
.card-title{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}
.card-text{
    color: #ffffff;
    margin-bottom: 2rem;
}
.btn-listen2{
    background-color: #FFE816;
    text-decoration: none;
    padding: 7px 14px;
    border-radius: 5px;
    color: #232323;
    font-weight: 700;
    transition: .3s;
}
.btn-listen2:hover{
    background-color: #232323;
    color: #FFE816;
}
.link{
    margin-top: 20px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    list-style: none;
}
.link-items a{
    color: #FFE816;
    font-size: 24px;
    display: flex;
    text-decoration: none;
    background-color: #131313;
    justify-content: center;
    padding: 5px;
    align-items: center;
    margin-right: 9px;
    border-radius: 5px;
}
@media (max-width:768px){
    .container-release{
        margin: 10px 1.1rem;
    }
    .navbar-brand{
        width: 40px;
    }
    .toggler-icon {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #FFE816;
        border-radius: 1px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    .middle-bar {
        margin-top: 0px;
    }
    .toggle {
        margin-bottom: 16px;
    }
    .navbar-toggler.collapsed .top-bar {
        margin-top: -20px;
        transform: rotate(0deg);
    }
    .navbar-toggler.collapsed .middle-bar {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .navbar-toggler.collapsed .bottom-bar {
        margin-top: 20px;
        transform: rotate(0deg);
    }
    .navbar-toggler .top-bar {
        margin: 0px;
        transform: rotate(135deg);
    }
    .navbar-toggler .middle-bar {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .navbar-toggler .bottom-bar {
        margin-top: 0px;
        transform: rotate(-135deg);
    }
    .nav-item{
        margin: 10px 0px;
    }
}